@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Login", "Validate", "Login")</p>
    <p>@Html.ActionLink("Groups", "Index", "Groups")</p>
    <p>@Html.ActionLink("Messages", "Index", "Messages")</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
